/psp/nbproject/private/
/Practica1/nbproject/private/
/buscaMinas/nbproject/private/
/ejerciciosLayout2/nbproject/private/
/ejerciciosLayout2/build/
/buscaMinas/build/
/JaxbAlbaran/nbproject/private/
/JaxbAlbaran/build/
/ejemplos/EjCardLayout/nbproject/private/
/cardEjercicio/nbproject/private/
/cardEjercicio/build/
/carreraDeNumeros/nbproject/private/